body {
	background-color: silver;
}

.container {
	margin: auto;
	width: 200px;
	padding: 20px;
	text-align: center;
	background-color: gray;
	border: solid black 4px;
}

.panel {
	margin-bottom: 15px;
}

.btn-angka {
	margin-bottom: 15px;
}

button {
	margin: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-mat {

}